.faq-wrapper,
.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-align: left;
    transition-duration: 300ms;
}

.faq-wrapper {
    gap: 60px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

#qr {
    width: 20vw;
    max-width: 250px;
    padding: 8px;
}

h1 {
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 60px;
}

.faq {
    width: 90%;
    max-width: 800px;
    align-items: flex-start;
}

.faq-qs {
    border-bottom: 2px solid #efefef;
    cursor: pointer;

    &::after {
        content: "+";
        color: #fff;
        float: right;
        font-size: xx-large;
    }
}

.faq-qs,
.faq-ans {
    width: 100%;
    background: transparent;
    text-align: left;
    padding: 20px 10px;
    font-size: x-large;
}

.faq-ans {
    font-size: large;
    display: none;
}

@media only screen and (max-width: 900px) {
    .images {
        width: 1200px;
        margin-left: calc(-600px + 50%);
    }

    #bg-clouds {
        width: 1000px;
    }

    .bg {
        height: 70vh;
    }

    #bg-tree {
        display: none;
    }
}