body{
  margin: 0;
  padding: 0;
  /* background-color: #0b0b2d; */
}

.src{
  /* background: white; */
  color: white;
  font-family: 'roboto',sans-serif;
  position: absolute;
  height: 7%;
  width: 37%;
  top: 61%;
  left: 51%;
  justify-content: center;
}
#first{
  z-index: 1;
}
.background{
  z-index: -1;
}

.container{
  position: relative;
}

/* .aftermovie{
 background-color: rgb(127, 104, 104);
 position: absolute;
 width: 914px;
 height: 650px;
 top: 15%;
 left: 20%;
} */

.bg{
  width:100%;
}



