@import "./all";

body {
    width: 100vw;
    background-color: #262626;
    background: #0F2027;

    transition-duration: 200ms;
    background: url("./../assets/images/event/event-bg.png");
    // background: url(./../assets/images/home/bg_color.png);
    background-size: 100%;
    background-repeat: repeat;
    color: white;
}

#display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    // background: cyan;
    padding: 40px;
    transition-duration: 200ms;
    margin-top: 50px;
}

#display-img {
    width: 50%;
    max-width: 260px;
    border-radius: 10%;
}

#display-detail {
    width: 70%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: medium;
}

#display-title {
    font-size: xx-large;
    margin-bottom: 4px;
}

#display-date {
    font-size: large;
    margin-bottom: 10px;
}

#display-about {
    margin-bottom: 20px;
}

.carousal {
    max-width: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;


    img {
        width: 25%;
        max-width: 150px;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 300ms;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        margin-right: -75px;

        &:hover {
            transform: translateY(-20%);
        }
    }
}

#card-holder {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    margin-top: 100px;
}

.card {
    width: 20%;
    min-width: 300px;
    max-width: 300px;

    height: 60vh;
    max-height: 400px;

    padding: 10px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background: url("./../assets/images/event/event1.png");
    background-position: center;
    background-size: contain;
    flex-shrink: 1;
    flex-grow: 1;

    margin: 0;

    // background: #000;
    img {
        width: 100%;
        max-width: 300px;
        z-index: -1;
    }

}

.register {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: medium;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 200ms;
    text-decoration: none;
    background: #fff;
    color: #262626;

    &:hover {
        transform: scale(.9);
    }

    &:active {
        transform: scale(.85);
    }
}

.card-details {
    background: #fff;
    color: #262626;
    border-radius: 4px;
    padding: 14px;
    font-size: small;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .event-title {
        font-size: large;
        margin-bottom: 4px;
    }

    .event-date {
        font-size: small;
        margin-bottom: 6px;
    }

    .event-about {
        width: 100%;
        max-height: 140px;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 770px) {
    #display {
        flex-direction: column;
        padding: 10px;
    }

    #display-detail {
        width: 85%;
    }

    .carousal img {
        width: 22%;
    }

    #display-img {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px) {


    .carousal {
        display: none;
    }
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -100px;
    margin-bottom: 50px;
}