 @import "./home-page", "./faq";
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
     font-family: 'Montserrat', sans-serif;
 }

 body {
     width: 100vw;
     background-color: #270f2a;
     background: linear-gradient(#30132f, #30132f, #090418, #090418);
     overflow-x: hidden;
 }

 html {
     overflow-x: hidden;
 }

 ::-webkit-scrollbar {
     width: 0;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     border-radius: 0;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     border-radius: 0;
 }

 .corner-border {
     --b: 2px;
     /* thickness of the border */
     --c: #efefef;
     /* color of the border */
     --w: 20px;
     /* width of border */


     border: var(--b) solid #0000;
     /* space for the border */
     --_g: #0000 90deg, var(--c) 0;
     --_p: var(--w) var(--w) border-box no-repeat;
     background:
         conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
         conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
         conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
         conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
 }