 @import "./all", "./home-page", "./faq";


 body {
     width: 100vw;
     background-color: #270f2a;
     background: linear-gradient(#30132f, #30132f, #090418, #090418);
     overflow-x: hidden;
     color: #eaddce;
     user-select: none;
 }