 @import "./home-page";

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
 }

 body {
     width: 100vw;
     background-color: #270f2a;
     overflow-x: hidden;
 }

 html {
     overflow-x: hidden;
 }

 ::-webkit-scrollbar {
     width: 0;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     border-radius: 0;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     border-radius: 0;
 }