@import 'https://fonts.googleapis.com/css?family=Open+Sans';
$itemSize: 60px;

body {
    background-color: #222222;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.center {
    position: fixed;
    z-index: 100;
}

.menu {
    width: 40px;
    height: 40px;
}

.item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: $itemSize;
    height: $itemSize;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
    z-index: 101;
}

.menu {
    img {
        cursor: pointer;
        width: 100%;
        color: #222222;
    }
}

#menu-shadow {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #efefef;
    opacity: .2;
    border-radius: 50%;
}

.center,
#menu-shadow {
    bottom: 4vh;
    right: 2vw;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {

    .center,
    #menu-shadow {
        bottom: 5vh;
        right: 8vw;
        cursor: pointer;
    }
}